body {
  background-image: url("background.jpeg");
  background-size: cover;
}

h2{
  font-family: "Luminari";
  font-size: x-large;
  background-color: #66462c;
  color: #F1D6B8;
  opacity: .5;
}

h3{
  font-family: "Palatino";
  font-size: large;
  background-color: #F1D6B8;
  color: #66462c;
  opacity: .75;
}

<style>
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  border: 3px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

